button{
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
button:active{
    transform: scale(0.97);
}