*{
    --size: 50px;
    --border-size: 2px;
    --board-size: calc(var(--size) * 8 + calc(var(--border-size) * 2));
    box-sizing: border-box;
}
#full-board{
    display: grid;
    grid-template-columns: var(--size) 1fr;
    grid-template-rows: 1fr var(--size);
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}
.vertical-index{
    height: calc(var(--size));
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-index{
    
    height: var(--size);
    width: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.horizontal-axis{
    height: var(--size);
    width: var(--board-size);
    display: flex;
    flex-direction: row;
}
#chessboard{
    
    height: var(--board-size);
    width: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, var(--size));
    grid-template-rows: repeat(8, var(--size));
    border: var(--border-size) solid black;
}

