.tile{
    
    width: var(--size);
    height: var(--size);
    background-color: black;
    box-sizing: border-box;
}
.white-tile{
    background-color: white;
}
.black-tile{
    background-color:#8b0000;
}
img{
    padding: 4px;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
}

.tile.selected {
    outline: 4px solid gold; /* Draws the border inside without affecting the layout */
    outline-offset: -4px; /* Ensures the outline stays inside the tile */
  }
